body {
    background-color: rgba(243, 240, 240, 0.7);
  }
  
  input {
    height: 44px;
    font-size: 20px;
    background-color: rgb(164, 23, 23);
    color: rgb(27, 26, 26);
    font-weight: bold;
    margin-top: 10px;
    width: 150px;
    text-align: center;
    box-shadow: 5px 5px 15px rgb(24, 24, 24);
  }
  
  #output {
    background-color: rgb(12, 12, 12);
    color: rgb(119, 11, 11);
    font-weight: bolder;
    width: 90%;
    font-size: 22px;
    box-sizing: border-box;
    box-shadow: 0px 0px 15px rgb(151, 16, 16);
    margin-left: 5%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: none;
  }
  #clear {
    display: none;
    color: rgb(19, 19, 19);
    background-color: rgb(185, 13, 13);
    width: 100px;
    height: 40px;
    font-size: 20px;
  }